{% extends 'base.html'%}
{% block 'main' %}
<a href="{% url "member:create" %}" class="btn btn-primary mb-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> 會員新增</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>電子郵件</th>
            <th>生日</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{member.id}}</td>
            <td>{{member.username}}</td>
            <td>{{member.useremail}}</td>
            <td>{{member.userbirth}}</td>
            <td>
                <a href="{% url "member:update" member.id %}" class="btn btn-info mr-2">修改</a>
                <a href="{% url "member:delete" member.id %}" class="btn btn-danger">刪除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}