{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="{% static 'images/ice.jpg' %}" alt="">
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'fridge:index' %}">首頁
                </a>
            </li>

        </ul>
        <!-- template引擎註解方法 -->
        {# if name == None #}
        <!-- template引擎註解方法 -->
        {% if request.COOKIES.name %}
        <span>{{ request.COOKIES.name }} 哩厚</span>
        {% else %}
        <span>請先</span>
        {% endif %}
        <ul class="navbar-nav float-right">

            <li class="nav-item">
                <!-- template引擎註解方法 -->
                {# if name == None #}
                <!-- template引擎註解方法 -->
                {% if request.COOKIES.name %}
                <a class="nav-link" href="{% url "user:logout" %}">登出</a>
                {% else %}
                <a class="nav-link" href="{% url "user:login" %}">登入</a>
                {% endif %}
            </li>
        </ul>

    </div>
</nav>